<h1>Edit User</h1>

<% unless @user.errors.empty? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.messages.values.flatten.each do |error| %>
        <li><%= error %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<%= form_for @user, url: admin_user_path, method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :email%>
    <%= f.text_field :email, :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :group_ids%>
    <%= f.select :group_ids, Group.all.map{ |g| [g.name, g.id]}, {}, :multiple => true, :class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.submit "Update", :class => "btn btn-primary"%>
    <%= link_to "Cancel", admin_users_path %>
  </div>


<% end %>

<script>
  $("#user_group_ids").select2()
</script
